
.containerTask {
  background-color: rgba(142, 164, 192, 0.08);

  .buttGroup {
    display: flex;
    margin-top: 30px;
    justify-content: center;

    button {
      max-width: fit-content;
    }
  }

  button {
    height: 38px;
    margin-right: 10px;
    svg {
      display: block;
      margin: 3px auto;
    }
  }

  .taskItem {
    width: fit-content;
    margin: 30px auto;

    .taskBlock {
      justify-content: center;
      @media (min-width: 576px) {
        display: flex;
        max-width: 455px;
      }
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 5fr 1fr 1fr 1fr;
      }

      button {
        @media (min-width: 300px) {
          display: grid;
          width: 30px;
        }

        @media (min-width: 576px) {
          display: grid;
          width: 45px;
        }
        @media (min-width: 768px) {
          display: grid;
          width: 68px;
        }
      }

      p {
        @media (min-width: 576px) {
          width: 400px;
        }
        @media (min-width: 768px) {
          width: 350px;
        }
        @media (min-width: 991px) {
          width: 500px;
        }

        background: white;
        width: 500px;
        height: 38px;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: .25rem;
        margin-right: 15px;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }

    .taskBlock2 {
      display: grid;
      grid-template-columns: 5fr  1fr 1fr;
      grid-gap: 10px;
    }
  }

  .taskItem:hover {
    p {
      background: rgba(185, 221, 239, 0.62);
    }
  }

  .closed {
    color: darkgreen;
    text-decoration: line-through;
  }

}

